body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.form-container {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
}